/* for all Body section */
body {
    background-color: rgb(236, 243, 237);
    font-family: 'Poppins', sans-serif;
}

.main-section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Banner section start */
.banner {
    background-color: #200101;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;

}

.top-banner {
    color: #f6f9fa;
    width: 60%;
    padding: 40px 0px;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    width: 100%;
}

.live-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 13px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.half-width img {
    height: 90%;
    width: 100%;
    margin-top: 10%;
}

/* Banner section end */



/* Blog section start */
.blog-section {
    margin-top: 100px !important;
    display: flex;
    justify-content: space-evenly;
    grid-gap: 15px;
}

.link-button {
    background-color: #111111 !important;
    border-radius: 10px;
    height: 260px;
    width: 260px;
}


.button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.button {
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.button1 {
    background-color: white;
    color: black;
}

.button2 {
    background-color: white;
    color: black;
}

.button3 {
    background-color: #f44336;
    color: white;
}

.live-section {
    background-color: whitesmoke;
    box-shadow: lightcyan;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.icon-class {
    display: flex;
}

.blog-content {
    border: 1px solid whitesmoke;
    background-color: lightcyan;
    border-radius: 10px;
}

.time {
    justify-content: flex-start;
}

.message {
    padding-left: 40px;
}