/* global */
* {
    margin: 0;
    padding: 0;
}

/*  All Body section */
body {
    background-color: rgb(236, 243, 237);
    font-family: 'Poppins', sans-serif;
}

.main-section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Banner section start */
.banner {
    background-color: #200101;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
}

.top-banner {
    color: #f6f9fa;
    width: 60%;
    padding: 40px 0px;
}

.top-banner h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    width: 100%;
}

.top-banner p {
    margin-top: 20px;
}

.live-button {
    text-decoration: none;
    padding: 13px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.btnnn {
    margin-top: 30px;
}

/* animation */
.live-button {

    background-color: rgb(58, 8, 92);
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    from {
        background-color: rgb(102, 255, 0);
    }

    to {
        background-color: rgb(34, 34, 1);
    }
}

.half-width img {
    height: 90%;
    width: 100%;
    margin-top: 10%;
}

/* Banner section end */

/* Blog section start */
.blog-section {
    margin-top: 100px !important;
    display: flex;
    justify-content: space-evenly;
    grid-gap: 15px;
}

/* button section start */
.link-button {
    background-color: #111111 !important;
    border-radius: 10px;
    height: 260px;
    width: 260px;
}

.button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.button {
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.button1 {
    background-color: white;
    color: black;
}

.button2 {
    background-color: white;
    color: black;
}

.button3 {
    background-color: #f44336;
    color: white;
}

/* button section end */

/* blog-live section start */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.live-section {
    background-color: rgb(226, 236, 232);
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.blog-content {
    box-shadow: lightcyan;
}

.icon-class {
    display: flex;
}

.time {
    justify-content: flex-start;
}

.message {
    padding-left: 40px;
}

/* view button */
.view-btn {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    display: none;
}

.view-all {
    margin-top: 20px;
    text-align: center;
}

/* Blog & live Section End */

/* Footer option start*/
.footer-section {
    background-color: black;
    margin-top: 10%;
    padding: 70px;
}

.footer-section h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #FF5959;
    font-weight: 400;
}

/* Horizontal Rule */
hr {
    border: 1px solid rgb(26, 26, 25);
    margin-bottom: 20px;
    margin-top: 15px;
}

/* footer information section */
.footer-link {
    text-align: center;
}

.clickable-button {
    color: white;
    padding: 15px;
    text-decoration: none;
}

/* social icon section start*/
.social-icon {
    text-align: center;
    padding: 15px;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 8px 4px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}


/* social icon section end*/
/* Footer option end*/

/* responsive for tab  */
@media screen and (min-width: 577px) and (max-width: 992px) {

    .blog-section {
        display: inline-block;

    }

    .link-button {
        width: 100%;
        height: 150px;
        background-color: rgb(236, 243, 237) !important;


    }

    .button-section {
        display: flex !important;
        display: inline-block;
        justify-content: space-around;


    }

    .view-btn {
        display: inline;
    }

    .button-section .button {
        width: 130px;
        font-size: 14px;
        font-weight: 700;

    }


    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner h1 {
        font-size: 28px;
        line-height: 30px;
        text-align: left;
        padding: 0 30px;


    }

    .banner p {
        padding: 0 30px;
    }

    .btnnn {
        padding: 0 30px;
    }
}

/* for mobile view */

@media screen and (max-width:576px) {
    .banner {
        display: inline-block;
    }

    .top-banner {
        width: 100%;
    }

    .banner h1 {
        font-size: 18px;
        line-height: 30px;
        text-align: center;


    }

    .top-banner p {
        font-size: 12px;
        text-align: center;
        padding: 0 5px;
    }

    .btnnn {
        text-align: center;
    }

    .half-width {
        text-align: center;
    }

    .half-width img {
        width: 70%;
    }

    .main-section {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .blog-section {
        display: inline-block;

    }

    .link-button {
        width: 100%;
        height: 250px;
        background-color: rgb(236, 243, 237) !important;
        margin-top: -85px;


    }

    .button-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .button-section .button {
        width: 200px;
        font-size: 14px;
        font-weight: 700;

    }


    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-link {
        text-align: center !important;
    }

    .footer-link .clickable-button {
        display: flex;
        margin-left: 50px;
        /* text-align: center */
    }

}